.mkapi-object {
	border: solid 1px black;
	margin: 0;
	border-bottom: 0;
}
.mkapi-document {
	border: solid 1px black;
	margin: 0 0 0 0;
	margin-bottom: 10px;
	padding: 0px 15px 0px 15px;
}

.mkapi-page-source {
	background-color: #f5f5f5;
}

.mkapi-arg {
	color: #4051b5;
	font-weight: 600;
}

.mkapi-ann {
	color: #7A3E9D;
}
.mkapi-tooltip {
	font-weight: 600;
	text-decoration-style: dotted;
	color: #7A3E9D;
}
.mkapi-item-type{
	color: #7A3E9D;
}
.mkapi-return{
	color: #7A3E9D;
}
.mkapi-tooltip2 {
	font-weight: 600;
	text-decoration-style: dotted;
	color: #7A3E9D;
}
.mkapi-default {
	color: #9C5D27;
}
.mkapi-section-name {
	font-weight: 400;
	text-decoration: underline;
	font-style: italic;
}